
<h3 >About <span class="glyphicon glyphicon-info-sign"></span></h3>


<div class="about-section">
  <h1>About Us Page</h1>
  <p>Made By Jean-michel</p>
  <div class="myDIV">Do You Want a secret?</div>
<div class="hide">Look there <br> i was hided from you</div>
</div>

<h2 style="text-align:center">Meet ME</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/images/jm.jpg" alt="Jm" style="width:100%">
      <div class="container">
        <h2>JeanMichel TAWK</h2>
        <p class="title">CEO & Founder</p>
        <p>Team Fantastic4 Team Fantastic4 Team Fantastic4 Team Fantastic4</p>
        <p>jean-michel.tawk@greybell.com</p>

      </div>
    </div>
  </div>

</div>
