
<h3 >About <span class="glyphicon glyphicon-info-sign"></span></h3>


<div class="about-section">
  <h1>About Us Page</h1>
  <p>This is our first app</p>
  <p>Made By the fantastic 4 ( JM - HS - GT - JZ )</p>
  <div class="myDIV">Do You Want a secret?</div>
<div class="hide">We're the winner team <br> we want for dinner: Sushi,Caviar,Steak,Ribs</div>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/images/jm.jpg" alt="Jm" style="width:100%">
      <div class="container">
        <h2>JeanMichel TAWK</h2>
        <p class="title">CEO & Founder</p>
        <p>Team Fantastic4 Team Fantastic4 Team Fantastic4 Team Fantastic4</p>
        <p>jean-michel.tawk@greybell.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/images/IMG_1407 (1).jpg" alt="gabriella" style="width:100%">
      <div class="container">
        <h2>Gabriella TAWK</h2>
        <p class="title">Art Director</p>
        <p>Team Fantastic4 Team Fantastic4 Team Fantastic4 Team Fantastic4</p>
        <p>gabriella.tawk@greybell.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/images/habib4.jpg" alt="habib" style="width:100%">
      <div class="container">
        <h2>Habib SATITE</h2>
        <p class="title">Designer</p>
        <p>Team Fantastic4 Team Fantastic4 Team Fantastic4 Team Fantastic4</p>
        <p>habib.satite@greybell.com</p>

      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../../assets/images/jessica.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Jessica ZAHRA</h2>
        <p class="title">Designer</p>
        <p>Team Fantastic4 Team Fantastic4 Team Fantastic4 Team Fantastic4</p>
        <p>jessica.zahra@greybell.com</p>

      </div>
    </div>
  </div>
</div>
