body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card:hover {
  transform: scale(1.5);
  transition: all;
  z-index: 1;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
 width: 100%;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
  animation-name: jm;
  animation-duration: 5s;
}

@keyframes jm{
  0%{ color: black;}
  10%{ color: firebrick;}
  20%{ color: darkcyan;}
  30%{ color: goldenrod;}
  40%{ color: sandybrown;}
  60%{ color: teal;}
  80%{ color: white;}
  90%{ color: gray;}
  100%{ color: rgb(141, 28, 28);}

}
