.order-header{
  padding: 70px;
    background-color: #474e5d;
  color: white;
}
.submit{
  text-align: center;
 width: 300px;
 position: fixed;
margin-top: 33%;
margin-left: 52.2%;
}
.orders{
  border-radius: 12px;
  border-style: solid;
  display: inline-block;
  width: 300px;
  height: 400px;
  margin-top: 5.5%;

}
.items{
  margin-left: 670px;
}

.orders-container {
  border: 2px solid black;
  background-color: white;
  width: 500px;
  height: 170px;
}

.order-item {
  background-color: white;
  color: black;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.selected-order {
  background-color: green;
  color: white;
}

.order-drink {
  background-color: white;
  color: black;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.selected-drink {
  background-color: green;
  color: white;
}
.action-page{
  text-align: center;
}
